fastapi==0.104.1
python-multipart==0.0.6
openai-whisper==20231117
uvicorn==0.24.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchaudio
torchvision
modelscope
packaging
addict
datasets
simplejson
sortedcontainers
librosa
pydub
groq
python-dotenv
openai
google-api-python-client>=2.31.0
google-auth-httplib2==0.1.1
google-auth-oauthlib>=0.4.6
google-auth>=2.3.3
